@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor-principal: #252931;
    --bg-plans: #E7E9E9;
    --btn: #2DC76D;
    --text-color: #313131;
    --red-color: #912217;
    --support: orange;
}

/* ----- Header */

.container-header {
    display: flex;
    justify-content: center;
    background-color: var(--cor-principal);
    padding: 0.6rem;
}

.logo {
    margin-right: 1rem;
    width: 2.8rem;
}

.navbar {
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
    gap: 1.2rem;
}

.navbar > a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 0.8rem;
}

#btnEnter {
    text-transform: uppercase;
    border: none;
    background-color: var(--btn);
    color: white;
    padding: 0.7rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
    font-size: 0.8rem;
}

/* ----- Banner Principal */

.main-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('../assets/mainbanner.png') no-repeat center center/cover;
    padding: 1.25rem;
    min-height: 30rem;
    color: white;
    font-size: 1.5rem;
    text-shadow: 1px 1px 10px #000000;
    box-shadow: 1px 6px 7px #00000017;
}

/* ----- Politica de Segurança */

.security-policy {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    text-align: center;
    margin: 6.25rem 0 5rem;
    gap: 3.12rem;
    color: var(--text-color);
}

.security, 
.performance, 
.support {
    margin: 0 1rem;
}

.security span {
    font-size: 4rem;
    color: var(--btn);
}

.performance span {
    font-size: 4rem;
    color: var(--red-color);
}

.support span {
    font-size: 4rem;
    color: var(--support);
}

/* ----- Planos e Preços */

#plans {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 7rem;
    margin: 0 1rem;
}

.container-plans {
    display: flex;
    flex-flow: wrap column;
    gap: 7rem;
}

.text-block {
    margin: 2rem 1.2rem;
    font-size: 1.2em;
}

.card {
    position: relative;
    border-radius: 10px;
    background-color: var(--bg-plans);
}

.card p {
    margin: 0.7rem;
    padding: 0.7rem;
}

.cardHeaders {
    border-radius: 10px 10px 0 0;
    background-color: var(--cor-principal);
    padding: 2.2rem 0 1.2rem;
    color: white;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -80%);

    border-radius: 50%;
    min-width: 120px;
    min-height: 110px;
    background-color: var(--btn);
    color: white;
    text-shadow: 1px 1px 3px #00000042;
}

.thirdPlan > .block, 
.thirdPlan > .btnHave {
    background-color: var(--red-color);
}

.btnHave {
    text-transform: uppercase;
    color: white;
    border: none;
    background-color: var(--btn);
    padding: 1.8rem;
    width: 100%;
    border-radius: 0 0 10px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
}

.btnHave:hover {
    background-color: #252931;
}

/* ----- Dominio */

.domain {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    text-align: center; 
    color: white;
    background-color: #34454E;
    margin: 6rem 2rem 2rem;
    padding: 1.2rem;
    border-radius: 10px;
    gap: 1rem;
}

.domain > .text-block {
    margin: 1rem;
}

.domain .text-block > h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

input#inDomainUser {
    width: 100%;
    max-width: 530px;
    padding: 1rem;
    border: none;
    border-radius: 5px;
}

input:focus,
textarea {
    outline: black;
}

#btnSearch {
    color: white;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: var(--btn);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: .5s;
}

/* ----- Suporte */

#contact {
    text-align: center;
    margin: 4rem 2rem 2rem;
}

#contact > .text-block {
    margin: 2.2rem 0;
}

#contact > .text-block > h2 {
    margin-bottom: 1rem;
}

#frm {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 650px;
    margin: auto;
    gap: 0.8rem;
}

#frm > .box-data {
    display: flex;
    gap: 0.8rem;
}

input#inNameUser,
input#inEmailUser,
textarea {
    border-radius: 5px;
    background-color: #e4e4e428;
    border: 1px solid #757575;
    padding: 0.8rem;
    width: 100%;
}

textarea {
    height: 120px;
}

#btnSend {
    padding: 10px;
    background-color: var(--btn);
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
    max-width: 260px;
    margin: auto;
    cursor: pointer;
    transition: .5s;
}

#btnEnter:hover,
#btnSearch:hover, 
#btnSend:hover {
    background-color: #196e3b;
}

/* ----- Rodapé */

footer {
    text-align: center;
    margin: 0 0 2rem;
    font-weight: bold;
    color: #5a5a5a;
}