@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    min-height: 100vh;
    min-width: 100vw;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9e9e957;
    padding: 20px 0;
}

.input-erro,
.input-erro:focus {
    outline: none !important;
    border: 1px solid #570f0f8c !important;
}

.btnOff {
    background-color: #83c6f3a1;
}

.btnOn {
    background-color: #4e98cae3;
    cursor: pointer;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    flex: 0 1 450px
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2.5rem;
}

#frm {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.card-form {
    display: flex;
    flex-direction: column;
    padding: 5rem 3rem 1.5rem;
}

input#inLogin,
input#inPass {
    padding: 0.7rem;
    background-color: #e9e9e957;
    border: 1px solid #a0a0a070;
    border-radius: 2px;
}

input#inLogin:focus,
input#inPass:focus {
    outline: 1px solid #a0a0a025;
}

#btnSubmit {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    color: #ffffff;
}

.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    text-transform: uppercase;
    color: #9e9e9e;
    font-weight: bold;
}
.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #a0a0a0a8;
}

.divider::before {
    margin-right: 1rem;
}

.divider::after {
    margin-left: 1rem;
}

.links-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-facebook {
    display: flex;
    align-items: center;
    margin: 0.8rem 0 1rem;
}

.link-facebook a {
    color: #263f6b;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.95rem;
}

.forgot-pass a {
    color: #263f6b;
    font-size: 0.9rem;
    text-decoration: none;
}

.link-facebook a:hover,
.forgot-pass a:hover,
.card-sign a:hover {
    text-decoration: underline;
}

.card-sign {
    text-align: center;
    width: 100%;
    padding: 1.4rem;
}

.card-sign a {
    color: #4e98cae3;
    font-weight: bold;
    text-decoration: none;
}

.card-form,
.card-sign {
    width: 100%;
    background-color: white;
    border: 1px solid #a0a0a070;
}

.card-dowload {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
}

.card-btn a {
    text-decoration: none;
}

img {
    width: 100%;
}

.banner {
    max-width: 440px;
}

.instagram {
    max-width: 250px;
}

.facebook {
    margin-right: 0.5rem;
    max-width: 20px;
}

.appstore,
.gplay {
    max-width: 150px;
}

.footer-links {
    position: absolute;
    text-align: center;
    bottom: 0.9rem;
}

.links {
    display: flex;
    flex-flow: row;
    list-style: none;
    margin-bottom: 1.2rem;
    gap: 0.8rem;
}

.links a,
.footer-links p {
    text-decoration: none;
    color: #818181;
}

.links a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 58em) {
    .banner {
        display: none;
    }
}

@media screen and (max-width: 31em) {
    .card-form,
    .card-sign {
        min-width: 0;
        width: 350px;
        margin-left: 0;
    }
}